[safe]
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/myciapp
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/02_medic_care
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
	directory = /home/ubuntu/01_barber_shop_cdci
